Lab/LAB_4_AJAX_&_XML/4_2.dtd

<!--Write a DTD for the above class.XML but make sure the id element will be an attribute for <student> element and which is REQUIRED.-->
<!ELEMENT class (student+)>  
<!ELEMENT student (name, branch, cgpa)>  
<!ATTLIST student id CDATA #REQUIRED> <!--id is a REQUIRED attribute--> 
<!ELEMENT name (#PCDATA)>  
<!ELEMENT branch (#PCDATA)>  
<!ELEMENT cgpa (#PCDATA)>  